* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.game {
  width: 100%;
  height: 100vh;
  text-align: center;
  background: #292d47;
  font-family: sans-serif;
}

.scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  color: white;
  height: 20vh;
}

.player-score, .skynet-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-score h2, .skynet-score h2 {
  font-size: 25px;
}

.player-score p, .skynet-score p {
  padding: 10px;
  font-size: 20px;
}

.intro {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

.intro h1 {
  color: white;
}

.intro button {
  width: 150px;
  height: 40px;
  border: none;
  background: #34796c;
  color: white;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
}

.match {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

.match h1 {
  color: white;
}

.match button {
  width: 150px;
  height: 40px;
  border: none;
  background: #34796c;
  color: white;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
}

.hands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.player-hand img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fadeOut {
  opacity: 0;
  pointer-events: none;
}

.fadeIn {
  opacity: 1;
  pointer-events: all;
}

@-webkit-keyframes shapePlayerHand {
  0% {
    -webkit-transform: rotateY(180deg) translateY(0px);
            transform: rotateY(180deg) translateY(0px);
  }
  16% {
    -webkit-transform: rotateY(180deg) translateY(-50px);
            transform: rotateY(180deg) translateY(-50px);
  }
  32% {
    -webkit-transform: rotateY(180deg) translateY(0px);
            transform: rotateY(180deg) translateY(0px);
  }
  48% {
    -webkit-transform: rotateY(180deg) translateY(-50px);
            transform: rotateY(180deg) translateY(-50px);
  }
  64% {
    -webkit-transform: rotateY(180deg) translateY(0px);
            transform: rotateY(180deg) translateY(0px);
  }
  80% {
    -webkit-transform: rotateY(180deg) translateY(-50px);
            transform: rotateY(180deg) translateY(-50px);
  }
  100% {
    -webkit-transform: rotateY(180deg) translateY(0px);
            transform: rotateY(180deg) translateY(0px);
  }
}

@keyframes shapePlayerHand {
  0% {
    -webkit-transform: rotateY(180deg) translateY(0px);
            transform: rotateY(180deg) translateY(0px);
  }
  16% {
    -webkit-transform: rotateY(180deg) translateY(-50px);
            transform: rotateY(180deg) translateY(-50px);
  }
  32% {
    -webkit-transform: rotateY(180deg) translateY(0px);
            transform: rotateY(180deg) translateY(0px);
  }
  48% {
    -webkit-transform: rotateY(180deg) translateY(-50px);
            transform: rotateY(180deg) translateY(-50px);
  }
  64% {
    -webkit-transform: rotateY(180deg) translateY(0px);
            transform: rotateY(180deg) translateY(0px);
  }
  80% {
    -webkit-transform: rotateY(180deg) translateY(-50px);
            transform: rotateY(180deg) translateY(-50px);
  }
  100% {
    -webkit-transform: rotateY(180deg) translateY(0px);
            transform: rotateY(180deg) translateY(0px);
  }
}

@-webkit-keyframes shapeSkynetHand {
  0% {
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
  16% {
    -webkit-transform: rotateY(0deg) translateY(-50px);
            transform: rotateY(0deg) translateY(-50px);
  }
  32% {
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
  48% {
    -webkit-transform: rotateY(0deg) translateY(-50px);
            transform: rotateY(0deg) translateY(-50px);
  }
  64% {
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
  80% {
    -webkit-transform: rotateY(0deg) translateY(-50px);
            transform: rotateY(0deg) translateY(-50px);
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}

@keyframes shapeSkynetHand {
  0% {
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
  16% {
    -webkit-transform: rotateY(0deg) translateY(-50px);
            transform: rotateY(0deg) translateY(-50px);
  }
  32% {
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
  48% {
    -webkit-transform: rotateY(0deg) translateY(-50px);
            transform: rotateY(0deg) translateY(-50px);
  }
  64% {
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
  80% {
    -webkit-transform: rotateY(0deg) translateY(-50px);
            transform: rotateY(0deg) translateY(-50px);
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}
/*# sourceMappingURL=style.css.map */